.tooling/super-tickets-papi65ad2d98-a4ff-4abc-949a-51697b819676/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:super-heros-bio-data-sapi="http://www.mulesoft.org/schema/mule/super-heros-bio-data-sapi"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/super-heros-bio-data-sapi http://www.mulesoft.org/schema/mule/super-heros-bio-data-sapi/current/mule-super-heros-bio-data-sapi.xsd">

	<flow name="api-main">
		<http:listener
			config-ref="apiHttpListenerConfig"
			path="/api/${api.majorVersion}/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="apiConfig" />
		<error-handler ref='api-error-handler' />
	</flow>
	<flow name="api-console">
		<http:listener
			config-ref="apiHttpListenerConfig"
			path="/console/v1/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="apiConfig" />
		<error-handler ref='api-console-error-handler' />


	</flow>
	<flow name="get:\tickets\(BID):apiConfig">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="BID"><![CDATA[attributes.uriParams.'BID'
				]]></ee:set-variable>
				<ee:set-variable variableName="CID" ><![CDATA[attributes.queryParams.'CID'
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref
			doc:name="get-tickets-data-by-bid"
			doc:id="b0b59be4-1585-42fe-bec8-d1cd591af206"
			name="get-tickets-data-by-bid" />
		<logger
			level="INFO"
			doc:name="Logger"
			doc:id="3961a94f-5b30-4e60-9255-310c1a81940d"
			message="Flow Completed" />
	</flow>
</mule>
